
#canvas{
    border: 1px solid black;
    
}
#kanvas{
    margin: auto;
    text-align: center;
    background-color: white;
    width:1000px;
    height:1000px;
}
html{
    margin: 0 auto;
    background-color: aqua;
}